.animated-gradient {
  background: linear-gradient(120deg, #0f2027, #2c5364, #285935, #1d32a9, #36143f);
  background-size: 400% 400%;
  animation: gradientBG 12s ease-in-out infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}